body{
    background-color: #222a81;
}
h4{
    font-size: 30px;
    text-align: center;
    color: white;
    
}
#display{
    border: #999;
    background-color:whitesmoke;
}
.container {
    max-width: 400px;
   
    margin: 10vh auto 0 auto;
    border-radius: 20px;
   padding: 20px;
   background-color: #16213E;

}

#display {
    text-align: right;
    height: 40px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;

    margin: 10px;
}

.keys{
    display: grid;
    grid-template-columns:100px 100px 100px 100px;
 
   
}



button {
    border: 0.5px solid #999;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}



button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}